body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background: #1C1C1C;
    color: azure;
}
a {
    color: beige;
    text-decoration: overline;
}

header, section, article, footer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment {
  font-size: 0.9em;
}